@* @model List<Luna.Models.RoomType>; *@
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<RoomType>;
@{
    ViewData["Title"] = "Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var promotions = ViewBag.Promotions as List<Luna.Models.Promotion>;
    var roomPromotions = ViewBag.RoomPromotions as List<Luna.Models.RoomPromotion>;
    var wishList = ViewBag.WishList as List<Luna.Models.WishList>;
}
<div class="slider">
    @foreach (var item in promotions)
    {
        if (item.IsActive == true)
        {
            @foreach (var rp in roomPromotions.Where(rp => rp.PromotionId == item.PromotionId))
            {
                var roomName = Model.Where(rt => rt.TypeId == rp.TypeId)
                .Select(rt => rt.TypeName)
                .FirstOrDefault() ?? "Không xác định";
                <p class="slide">🌟 Khuyến Mãi Đặc Biệt! 🌟<span>@item.Discount%</span> cho loại phòng <span>@roomName</span> từ ngày <span>@rp.StartDate</span> tới ngày <span>@rp.EndDate</span></p>
            }

        }
    }
</div>
<style>

    .slider {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 40px; /* Đặt chiều cao mong muốn */
        margin: 0;
        padding: 0;
        position: relative; /* Thêm thuộc tính position */
        background-color: black
    }

    .slide {
        box-sizing: border-box;
        opacity: 0;
        line-height: 30px; /* Set the line-height to match the height of the slider */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        color: #fff;
    }

        .slide:nth-child(1) {
            animation: slide1 15s infinite;
        }

        .slide:nth-child(2) {
            animation: slide2 15s infinite;
        }

        .slide:nth-child(3) {
            animation: slide3 15s infinite;
        }

    @@keyframes slide1 {
        0% {
            opacity: 0;
        }

        8.33% {
            opacity: 1;
        }

        25% {
            opacity: 1;
        }

        33.33% {
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    @@keyframes slide2 {
        0% {
            opacity: 0;
        }

        33.33% {
            opacity: 0;
        }

        41.66% {
            opacity: 1;
        }

        58.33% {
            opacity: 1;
        }

        66.66% {
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    @@keyframes slide3 {
        0% {
            opacity: 0;
        }

        66.66% {
            opacity: 0;
        }

        75% {
            opacity: 1;
        }

        91.66% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>
<div class="bg-white p-0">
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/carousel-1.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Rooms</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item"><a href="#">Rooms</li>
                        @* text-white active" aria-current="Room *@
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Booking start -->
    <div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="bg-white shadow" style="padding: 35px;">
                <form method="get" asp-area="Admin" asp-action="GetAvailableRooms" asp-controller="Room">
                    <div class="row g-2">
                        <div class="col-md-10">
                            <div class="row g-2">
                                <div class="col-md-6">
                                    <div class="date" id="date1" data-target-input="nearest">
                                        <input type="date" class="form-control datetimepicker-input" id="checkIn" name="CheckIn" placeholder="Check in" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="date" id="date2" data-target-input="nearest">
                                        <input type="date" class="form-control datetimepicker-input" id="checkOut" name="CheckOut" placeholder="Check out" />
                                    </div>
                                </div>
                          @*       <div class="col-md-4">
                                    <p style="color: red; font-size:20px; padding: 5px; font-weight: bold;">Allowed to serve: 4 people/room</p>
                                </div> *@
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary w-100" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @section Scripts {
        <script>
            // Function to format the date as YYYY-MM-DD
            function formatDate(date) {
                var yyyy = date.getFullYear();
                var mm = String(date.getMonth() + 1).padStart(2, '0');
                var dd = String(date.getDate()).padStart(2, '0');
                return `${yyyy}-${mm}-${dd}`;
            }

            // Set minimum date for checkIn and checkOut inputs to today
            var today = new Date();
            document.getElementById('checkIn').min = formatDate(today);
            document.getElementById('checkOut').min = formatDate(today);
        </script>
    }
    <!-- Booking end -->
    <!-- Room Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title text-center text-primary text-uppercase">Our Rooms</h6>
                <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Rooms</span></h1>
            </div>
            <div class="row g-4">
                @foreach (var item in Model)
                {
                    var isInWishList = wishList != null && wishList.Any(w => w.TypeId == item.TypeId);
                    var heartClass = isInWishList ? "bi bi-heart-fill" : "bi bi-heart";
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" data-prodduct-id="@item.TypeId">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="@item.TypeImg">
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">@($"{item.TypePrice:N0} ₫")</small>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0">@item.TypeName</h5>
                                    <div class="ps-2">
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                    </div>
                                </div>
                                <div class="d-flex mb-3">
                                    <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                    <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                                    <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                                </div>
                                <p class="text-body mb-3">Vui lòng bấm vào View Details để xem chi tiết hơn</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a class="btn btn-sm btn-primary rounded py-2 px-4" asp-area="Admin" asp-controller="Room" asp-action="RoomDetail" asp-route-maSp="@item.TypeId">View Detail</a>
                                    <a class="" asp-area="Customer" asp-controller="WishList" asp-action="Add" asp-route-typeId="@item.TypeId">
                                        <i class="@heartClass icon" style="font-size: 25px; color: #e04141"></i>
                                    </a>
                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" asp-area="Admin" asp-action="SearchRoom" asp-controller="Room">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                <div class="pagedList">
                    @Html.PagedListPager(Model, page => Url.Action("Room", new { page = page }))
                </div>
            </div>
        </div>

    </div>


    <!-- Room End -->
    <!-- Testimonial Start -->
    <div class="container-xxl testimonial my-5 py-5 bg-dark wow zoomIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="owl-carousel testimonial-carousel py-5">

                @foreach (var item in ViewBag.Feedbacks)
                {
                    <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                        <p>@item.Message</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="~/img/testimonial-1.jpg" style="width: 45px; height: 45px;">
                            <div class="ps-3">
                                <h6 class="fw-bold mb-1">@item.User.UserName</h6>
                                <small>Profession</small>
                            </div>
                        </div>
                        <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                    </div>
                }



                @* 
                <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/img/testimonial-2.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Client Name</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                </div>
                <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/img/testimonial-3.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Client Name</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                </div> *@
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- Newsletter Start -->
    <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="row justify-content-center">
            <div class="col-lg-10 border rounded p-1">
                <div class="border rounded text-center p-1">
                    <div class="bg-white rounded text-center p-5">
                        <h4 class="mb-4">Subscribe Our <span class="text-primary text-uppercase">Newsletter</span></h4>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter Start -->
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
        <div class="container pb-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-4">
                    <div class="bg-primary rounded p-4">
                        <a href="index.html"><h1 class="text-white text-uppercase mb-3">Hotelier</h1></a>
                        <p class="text-white mb-0">
                            Download <a class="text-dark fw-medium" href="https://htmlcodex.com/hotel-html-template-pro">Hotelier – Premium Version</a>, build a professional website for your hotel business and grab the attention of new visitors upon your site’s launch.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="row gy-5 g-4">
                        <div class="col-md-6">
                            <h6 class="section-title text-start text-primary text-uppercase mb-4">Company</h6>
                            <a class="btn btn-link" href="">About Us</a>
                            <a class="btn btn-link" href="">Contact Us</a>
                            <a class="btn btn-link" href="">Privacy Policy</a>
                            <a class="btn btn-link" href="">Terms & Condition</a>
                            <a class="btn btn-link" href="">Support</a>
                        </div>
                        <div class="col-md-6">
                            <h6 class="section-title text-start text-primary text-uppercase mb-4">Services</h6>
                            <a class="btn btn-link" href="">Food & Restaurant</a>
                            <a class="btn btn-link" href="">Spa & Fitness</a>
                            <a class="btn btn-link" href="">Sports & Gaming</a>
                            <a class="btn btn-link" href="">Event & Party</a>
                            <a class="btn btn-link" href="">GYM & Yoga</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

