@using Luna.Areas.Chat.Models
@model ConversationVM
@{
    string senderId = (string)ViewData["senderId"];
}
<ul class="list-unstyled mb-0">
    @foreach (var user in ConversationVM.Users)
    {
        var isActive = user.User.Id == senderId ? "active" : "";

        <li class="p-2 border-bottom chat-item @isActive">
            <input id="sender-id" type="hidden" value="@user.User.Id" />
            <a id="conversation" asp-area="Chat" asp-controller="Staff" asp-action="Conversation" asp-route-userid="@user.User.Id"
               class="d-flex justify-content-between chat-link">
                <div class="d-flex flex-row">
                    <div>
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                             alt="avatar" class="d-flex align-self-center me-3" width="60">
                        <span class="badge bg-success badge-dot"></span>
                    </div>
                    <div id="" class="pt-1">
                        <p class="fw-bold mb-0">@user.User.UserName</p>
                        <p id="last-mess-@user.User.Id" class="small text-muted">@user.LastMessage.Message</p>
                    </div>
                </div>
                <div id="not-seen-@user.User.Id" class="pt-1">
                    @if (@user.NotSeen > 0)
                    {
                        <span id="count-@user.User.Id" class="badge bg-danger rounded-pill float-end">@user.NotSeen</span>
                    }
                    <span id="count-@user.User.Id" class="badge bg-danger rounded-pill float-end"></span>
                </div>
            </a>
        </li>
    }

</ul>